@model MvcWeather.Models.ViewModels.WeatherVM

<div class="jumbotron">
    <h1>Today's Weather</h1>
    <p class="lead">Ener a zip code below find out today's weather information.</p>
    @using (Ajax.BeginForm("FindWeather", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "todaysWeatherContainer" }))
    {
        @Html.TextBoxFor(x => x.ZipCode, new { placeholder = "Enter a zip code...", @class = "form-input" });
        @Html.HiddenFor(x => x.Date);
        <button type="submit" class="btn-primary">Search</button>
    }
</div>

<div id="todaysWeatherContainer"></div>